version: "3.9"
services:
  host:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./dist:/exec/dist
      - ./scripts:/exec/scripts
      - ./swipeforfuture.com:/exec/swipeforfuture.com
    entrypoint: ["npm", "run", "serve"]
  build-dev:
    build: .
    volumes:
      - ./dist:/exec/dist
      - ./scripts:/exec/scripts
      - ./swipeforfuture.com:/exec/swipeforfuture.com
    entrypoint: ["npm", "run", "dev"]
